.advantages {}
.advantages__wraper {}

.advantages__list {
  list-style: none;
}
.advantages__item {}
.advantages__item--pic {}
.advantages__header {}

.advantages__title {
  font-family: "PT-sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  // text-align: center;
  color: #000000;
}

.advantages__number {}
.advantages__text {}
.advantages__motel {}
