// .advantages {}
// .advantages__wraper {}

.advantages__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  counter-reset: number;
}

.advantages__item {
  width: 100%;
  background-color: @common-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 24px;
}

.advantages__item:not(:last-child) {
  border-bottom: 1px solid @dividing-line-lightgrey;
}

.advantages__item--pic {
  color: @white;
  background-color: @blue-nav-bcg;
  padding-bottom: 0;
}

.advantages__header {
  text-align: center;
}

.advantages__title,
.advantages__number {
  margin-bottom: 1em;
}

.advantages__text::before {
  white-space: pre;
  counter-increment: number;
  content: "— №" counter(number) " —\A\A";
}

// .advantages__text {}
// .advantages__image {}

.advantages__picture {
  height: 260px;
  object-fit: cover;
}

.advantages__picture:first-child {
  padding-top: 39px;
}

.advantages__picture:nth-child(2) {
  padding-top: 35px;
}

.advantages__motel {
  width: 100%;
  color: @black;
  background-color: @white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
// .advantages__title--white-text {}
