.page-header {
  height: 445px;
  background-color: @white;
  position: relative;
}

.page-header__wrapper {
  text-align: center;
  // position: relative;
}

.page-header__logo {
  position: absolute;
  top: 0;
  left: 109px;
}

.page-header__navigation {
  background-color: @blue-nav-bcg;
}
// .page-header__promo {}
