.page-header {
  background-color: @white;
}

.page-header__wrapper {
  min-width: 320px;
  min-height: 445px;
  text-align: center;
  background-image: url("../../img/back-main-mini.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  position: relative;

  // outline: 1px solid red;
  // outline-offset: -1px;
}

.page-header__logo,
.page-header__navigation {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.page-header__navigation {
  background-color: @blue-nav-bcg;

  // outline: 1px solid rgb(102, 255, 0);
  // outline-offset: -1px;
}

.page-header__slogan {
  width: 282px;
  height: 214px;
  margin-top: 146px;
}

// .page-header__promo {}
